body {
  width: 100vw;
  height: 100vh;
  background-color: #0f1225;
  overflow: hidden;
}

.landing-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fade-in .4s ease-in .2s 1 forwards;
}

.glitch-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.name-container {
  text-align: center;
  position: absolute;
  width: 100%;
  font-family: 'Righteous', cursive;
  font-size: 80px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.name-container::before {
  content: attr(data-text);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: #7fa5f1;
  animation: blueshift 13s linear 0s infinite alternate;
  z-index: -1
}

.name-container::after {
  content: attr(data-text);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: #ed84fb;
  animation: redshift 7s linear 0s infinite alternate-reverse;
  z-index: -1
}

.sub-text {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

/* .rocket-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 100px;

  transition: transform .2s ease-in-out;
}

.rocket {
  height: 100%;
  width: 60px;
  background-color: pink;
} */


  /* =========================================
  ***************** KEYFRAMES ****************
  ========================================= */


@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes blueshift {
  0% {
    margin-left: -5px;
    margin-top: -5px
  }
  25% {
    margin-left: 5px;
    margin-top: 0px
  }
  50% {
    margin-left: -3px;
    margin-top: 5px
  }
  75% {
    margin-left: 3px;
    margin-top: -3px
  }
  100% {
    margin-left: 0px;
    margin-top: -5px
  }
}

@keyframes redshift {
  0% {
    margin-left: 5px;
    margin-top: 5px
  }
  25% {
    margin-left: -5px;
    margin-top: 0px
  }
  50% {
    margin-left: 3px;
    margin-top: -5px
  }
  75% {
    margin-left: -3px;
    margin-top: 3px
  }
  100% {
    margin-left: 0px;
    margin-top: 5px
  }
}